:root {
  --archivespress-dates-font-size: 16px;
  --archivespress-dates-line-height: 1.5;
  --archivespress-dates-year-background: #111;
  --archivespress-dates-year-color: #FFF;
  --archivespress-dates-month-background: #444;
  --archivespress-dates-month-color: #FFF;
  --archivespress-dates-day-background: #777;
  --archivespress-dates-day-color: #FFF;
  --archivespress-authors-font-size: 16px;
  --archivespress-authors-line-height: 1.5;
  --archivespress-authors-background: #111;
  --archivespress-authors-color: #FFF;
  --archivespress-terms-font-size: 16px;
  --archivespress-terms-line-height: 1.5;
  --archivespress-terms-background: #111;
  --archivespress-terms-color: #FFF;
}

.archivespress-wrapper * > {
  box-sizing: border-box;
}
.archivespress-wrapper .info-counts {
  float: right;
  font-weight: 300;
}
.archivespress-wrapper .info-counts:before {
  content: "(";
}
.archivespress-wrapper .info-counts:after {
  content: ")";
}

.archivespress-dates-wrapper {
  font-size: var(--archivespress-dates-font-size);
  line-height: var(--archivespress-dates-line-height);
}

.archivespress-authors-wrapper {
  font-size: var(--archivespress-authors-font-size);
  line-height: var(--archivespress-authors-line-height);
}

.archivespress-terms-wrapper {
  font-size: var(--archivespress-terms-font-size);
  line-height: var(--archivespress-terms-line-height);
}

.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper .link-year, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-year-wrapper .link-year {
  background: var(--archivespress-dates-year-background);
  color: var(--archivespress-dates-year-color);
  padding: 0.33em 0.66em;
  font-weight: bold;
  display: inline-block;
  min-width: 10em;
  text-align: left;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-month-wrapper, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-month-wrapper {
  display: flex;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-month-wrapper .archivespress-dates-month, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-month-wrapper .archivespress-dates-month {
  margin: 0 1.66em 0 0;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-month-wrapper .link-month, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-month-wrapper .link-month {
  background: var(--archivespress-dates-month-background);
  color: var(--archivespress-dates-month-color);
  padding: 0.33em 0.66em;
  font-weight: bold;
  display: inline-block;
  min-width: 15em;
  text-align: left;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-month-wrapper .archivespress-dates-days, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-month-wrapper .archivespress-dates-days {
  padding: 0;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-day-wrapper, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-day-wrapper {
  display: inline-block;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-day-wrapper .link-day, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-day-wrapper .link-day {
  background: var(--archivespress-dates-day-background);
  color: var(--archivespress-dates-day-color);
  padding: 0.33em 0.66em;
  font-weight: bold;
  display: inline-block;
  min-width: 2.5em;
  text-align: center;
  margin: 0 0.66em 0.66em 0;
}
@media screen and (max-width: 640px) {
  .archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-month-wrapper, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-month-wrapper {
    display: block;
  }
  .archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-month-wrapper .archivespress-dates-days, .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-month-wrapper .archivespress-dates-days {
    padding: 0.66em 0 0;
  }
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper {
  display: flex;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper .archivespress-dates-year {
  margin: 0 1.66em 0 0;
}
.archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper .archivespress-dates-months {
  padding: 0 0 1em;
}
@media screen and (max-width: 800px) {
  .archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper {
    display: block;
  }
  .archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper .archivespress-dates-year .link-year {
    width: 50%;
  }
  .archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper .archivespress-dates-months {
    padding: 1em 0;
  }
}
@media screen and (max-width: 640px) {
  .archivespress-dates-wrapper.archivespress-dates-layout-basic .archivespress-dates-year-wrapper .archivespress-dates-year .link-year {
    width: 100%;
  }
}
.archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-year-wrapper .archivespress-dates-year .link-year {
  width: 100%;
  max-width: 30em;
}
.archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-year-wrapper .archivespress-dates-months {
  padding: 1em 0;
}
@media screen and (max-width: 640px) {
  .archivespress-dates-wrapper.archivespress-dates-layout-compact .archivespress-dates-year-wrapper .archivespress-dates-year .link-year {
    max-width: 100%;
  }
}

.archivespress-authors-wrapper.archivespress-authors-layout-basic {
  display: inline-flex;
  flex-wrap: wrap;
  width: calc(100% + 1em);
  margin: 0 0 0 -1em;
}
.archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author {
  flex: 0 0 calc(33.3333% - 1em);
  margin: 0 0 1em 1em;
}
.archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author.has-avatar .link-name {
  display: block;
  margin-left: 2em;
}
@media screen and (max-width: 960px) {
  .archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author {
    flex: 0 0 calc(50% - 1em);
  }
}
@media screen and (max-width: 640px) {
  .archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author {
    flex: 0 0 calc(100% - 1em);
  }
}
.archivespress-authors-wrapper.archivespress-authors-layout-compact {
  display: inline-flex;
  flex-wrap: wrap;
}
.archivespress-authors-wrapper.archivespress-authors-layout-compact .archivespress-authors-author {
  margin: 0 1em 1em 0;
}
.archivespress-authors-wrapper.archivespress-authors-layout-compact .archivespress-authors-author, .archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author {
  background: var(--archivespress-authors-background);
  color: var(--archivespress-authors-color);
  padding: 0.66em;
  font-weight: bold;
}
.archivespress-authors-wrapper.archivespress-authors-layout-compact .archivespress-authors-author .link-avatar, .archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author .link-avatar {
  display: block;
  float: left;
  margin: 0 0.66em 0 0;
}
.archivespress-authors-wrapper.archivespress-authors-layout-compact .archivespress-authors-author .link-avatar img, .archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author .link-avatar img {
  display: block;
}
.archivespress-authors-wrapper.archivespress-authors-layout-compact .archivespress-authors-author .link-name, .archivespress-authors-wrapper.archivespress-authors-layout-basic .archivespress-authors-author .link-name {
  color: var(--archivespress-authors-color);
  margin: 0 1em 0 0;
}

.archivespress-terms-wrapper.archivespress-terms-layout-basic {
  display: inline-flex;
  flex-wrap: wrap;
  width: calc(100% + 1em);
  margin: 0 0 0 -1em;
}
.archivespress-terms-wrapper.archivespress-terms-layout-basic .archivespress-terms-term {
  flex: 0 0 calc(25% - 1em);
  margin: 0 0 1em 1em;
}
@media screen and (max-width: 960px) {
  .archivespress-terms-wrapper.archivespress-terms-layout-basic .archivespress-terms-term {
    flex: 0 0 calc(50% - 1em);
  }
}
@media screen and (max-width: 640px) {
  .archivespress-terms-wrapper.archivespress-terms-layout-basic .archivespress-terms-term {
    flex: 0 0 calc(100% - 1em);
  }
}
.archivespress-terms-wrapper.archivespress-terms-layout-compact {
  display: inline-flex;
  flex-wrap: wrap;
}
.archivespress-terms-wrapper.archivespress-terms-layout-compact .archivespress-authors-author {
  margin: 0 1em 1em 0;
}
.archivespress-terms-wrapper.archivespress-terms-layout-compact .archivespress-terms-term, .archivespress-terms-wrapper.archivespress-terms-layout-basic .archivespress-terms-term {
  background: var(--archivespress-terms-background);
  color: var(--archivespress-terms-color);
  padding: 0.33em 0.66em;
  font-weight: bold;
}
.archivespress-terms-wrapper.archivespress-terms-layout-compact .archivespress-terms-term .link-name, .archivespress-terms-wrapper.archivespress-terms-layout-basic .archivespress-terms-term .link-name {
  color: var(--archivespress-terms-color);
  margin: 0 1em 0 0;
}
