:root {
    --archivespress-dates-font-size: #{$dates-font-size};
    --archivespress-dates-year-background: #{$dates-year-background};
    --archivespress-dates-year-color: #{$dates-year-color};
    --archivespress-dates-month-background: #{$dates-month-background};
    --archivespress-dates-month-color: #{$dates-month-color};
    --archivespress-dates-day-background: #{$dates-day-background};
    --archivespress-dates-day-color: #{$dates-day-color};
}
