:root {
    --gd-date-archives-base-font-size: #{$base-font-size};
    --gd-date-archives-base-year-background: #{$base-year-background};
    --gd-date-archives-base-year-color: #{$base-year-color};
    --gd-date-archives-base-month-background: #{$base-month-background};
    --gd-date-archives-base-month-color: #{$base-month-color};
    --gd-date-archives-base-day-background: #{$base-day-background};
    --gd-date-archives-base-day-color: #{$base-day-color};
}
