.archivespress-wrapper {

    * > {
        box-sizing: border-box;
    }

    .info-counts {
        @include ltr {
            float: right;
        }
        @include rtl {
            float: left;
        }
        font-weight: 300;

        &:before {
            content: "(";
        }

        &:after {
            content: ")";
        }
    }
}

.archivespress-dates-wrapper {
    font-size: var(--archivespress-dates-font-size);
    line-height: var(--archivespress-dates-line-height);
}

.archivespress-authors-wrapper {
    font-size: var(--archivespress-authors-font-size);
    line-height: var(--archivespress-authors-line-height);
}

.archivespress-terms-wrapper {
    font-size: var(--archivespress-terms-font-size);
    line-height: var(--archivespress-terms-line-height);
}
