.archivespress-terms-wrapper {
    &.archivespress-terms-layout-basic {
        display: inline-flex;
        flex-wrap: wrap;
        width: calc(100% + 1em);
        @include ltr {
            margin: 0 0 0 -1em;
        }
        @include rtl {
            margin: 0 -1em 0 0;
        }

        .archivespress-terms-term {
            @include ltr {
                margin: 0 0 1em 1em;
            }
            @include rtl {
                margin: 0 1em 1em 0;
            }
        }

        &.archivespress-terms-columns-1 {
            .archivespress-terms-term {
                flex: 0 0 calc(100% - 1em);
            }
        }

        &.archivespress-terms-columns-2 {
            .archivespress-terms-term {
                flex: 0 0 calc(50% - 1em);
            }
        }

        &.archivespress-terms-columns-3 {
            .archivespress-terms-term {
                flex: 0 0 calc(33.3333% - 1em);
            }
        }

        &.archivespress-terms-columns-4 {
            .archivespress-terms-term {
                flex: 0 0 calc(25% - 1em);
            }
        }

        &.archivespress-terms-columns-5 {
            .archivespress-terms-term {
                flex: 0 0 calc(20% - 1em);
            }
        }

        &.archivespress-terms-columns-6 {
            .archivespress-terms-term {
                flex: 0 0 calc(16.6666% - 1em);
            }
        }

        &.archivespress-terms-columns-3,
        &.archivespress-terms-columns-4,
        &.archivespress-terms-columns-5,
        &.archivespress-terms-columns-6 {
            .archivespress-terms-term {
                @media screen and (max-width: #{$responsive-break-large}) {
                    flex: 0 0 calc(50% - 1em);
                }

                @media screen and (max-width: #{$responsive-break-small}) {
                    flex: 0 0 calc(100% - 1em);
                }
            }
        }
    }

    &.archivespress-terms-layout-compact {
        display: inline-flex;
        flex-wrap: wrap;

        .archivespress-terms-term {
            @include ltr {
                margin: 0 1em 1em 0;
            }
            @include rtl {
                margin: 0 0 1em 1em;
            }
        }
    }

    &.archivespress-terms-layout-compact,
    &.archivespress-terms-layout-basic {
        .archivespress-terms-term {
            background: var(--archivespress-terms-background);
            color: var(--archivespress-terms-color);
            padding: .33em .66em;
            font-weight: bold;

            .link-name {
                color: var(--archivespress-terms-color);
                @include ltr {
                    margin: 0 1em 0 0;
                }
                @include rtl {
                    margin: 0 0 0 1em;
                }
            }
        }
    }
}