// vars //
$base-font-size: 15px !default;
$base-year-background: #111 !default;
$base-year-color: #FFF !default;
$base-month-background: #444 !default;
$base-month-color: #FFF !default;
$base-day-background: #777 !default;
$base-day-color: #FFF !default;

// layout //
$responsive-break-small: 600px;
$responsive-break-medium: 800px;
