// vars //
$dates-font-size: 15px !default;
$dates-year-background: #111 !default;
$dates-year-color: #FFF !default;
$dates-month-background: #444 !default;
$dates-month-color: #FFF !default;
$dates-day-background: #777 !default;
$dates-day-color: #FFF !default;

// layout //
$responsive-break-small: 600px;
$responsive-break-medium: 800px;
